@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

@font-face{
    font-family:"Guardian-EgypTT";
    src: url("https://www.etsy.com/assets/type/Guardian-EgypTT-Medium.woff") format("woff");
}

* a {
	text-decoration: none !important;
	color: #909090;
}

body {
	background: #F5F5F1;
}

.filler-large {
	height: 50px;
}

.header {
	display: block;
	border-bottom: 1px solid #ddd;
	background-color: #f56400;
	height: 400px;
	width: 100%;
	display: table;
    -webkit-transition: height 1s;
    -moz-transition: height 1;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.header-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header h1 {
	font-weight: 100;
	font-size: 60px;
	color: #fff;
	font-family: "Guardian-EgypTT";
}

.header-search {
	margin-top: 30px;
}

.header-search-input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 5px #999;
	border: 1px solid #fff;
	font-size: 15px;
	width: 200px;
	padding: 10px;
	background: #fff;
}

.header-search-button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 0px 5px #999;
	font-size: 15px;
	margin-left: -8px;
	padding: 10px;
	background: #34A8C4;
	border: 1px solid #34A8C4;
	color: #fff;
}

.header-search-input:focus {
	outline: none;
	background: #F5F5F1;
}

.header-search-button:focus {
	outline: none;
	border: 1px solid #fff;
}

.smaller {
	top: 0px;
	position: fixed;
	height: 100px;
}

.smaller h1 {
	font-size: 30px !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    float: left;
    margin-left: 30px;
}

.smaller .header-search {
	margin: 10px 500px 0 0;
	float: right;
}

.smaller .submit-eatery {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 26px 330px 0 0;
}

.smaller .login-button-container {
	margin-top: 5px;
}

.content {
	padding: 30px;
}

.content-smaller {
	margin-top: 300px;
}

.content-smaller .toggle-container {
	margin-top: 80px;
}

.cards-container {
	margin: 0 auto;
	width: 90%;
	display: block;
	text-align: center;
}

.card {
	border-radius: 5px;
	padding: 3px;
	background-size: cover;
	margin: 20px;
	display: inline-block;
	width: 400px;
	height: 275px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0px 1px 2px #ddd;
}

.card .card-image-preview{
	width: 392px;
	height: 200px;
}

.image-card {
	width: 100%;
	height: 100%;
}

.card-details {
	padding: 5px 10px;
	text-align: left;
}

.card-back-link {
	float: left;
	position: absolute;
	font-size: 30px;
}

.card-title {
	margin-top: 5px;
	font-family: "Guardian-EgypTT";
	color: #34A8C4;
	font-size: 17px;
}

.card-distance {
	font-size: 12px;
}

.card-page {
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 21px;
	width: 1280px;
	background: #fff;
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 1px 2px #ddd;
	font-size: 14px;
	color: #444;
}

.card-page h2 {
	color: #34A8C4;
	font-family: "Guardian-EgypTT";
}

.card-table {
	padding-top: 20px;
	text-align: left;
	margin: 0 auto;
	width: 300px;
}

.card-page-image {
	background-color: #eee;
	height: 300px;
	width: 400px;
	margin: 0 auto;
	background-size: cover;
	margin-bottom: 20px;
}

#login-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*second toggle options*/

.toggle {
	display: block;
	box-shadow: 0px 1px 2px #d0d0d0;
	background: #fff;
	width: 100%;
	height: 90px;
}

.toggle-container {
	padding-top: 30px;
	margin: 0 auto;
	width: 600px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	margin-bottom: 20px;
}

.toggle-smaller {
	height: 60px;
	top: 100px;
	position: fixed;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.toggle-smaller .toggle-container {
	padding-top: 15px !important;
}

.toggle-list {
	padding: 5px;
	width: 300px;
	float: left;
	background: #34A8C4;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 2px #777;
	color: #fff;
}

.toggle-map {
	box-shadow: 0px 0px 2px #777;
	color: #444;
	padding: 5px;
	width: 300px;
	float: left;
	background: #ddd;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*login button*/

.login-button-container {
	border: 2px solid #fff;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 165px;
	height: 45px;
	padding-right: 8px;
	border-radius: 5px;
}

.sign-in-text-google {
	font-weight: 300;
	color: #fff;
	font-size: 13px;
}

.google-logo {
	margin: 10px 0 0 10px;
	float: left;
	width: 25px;
	height: 25px;
}

.login-display-name {
	display: none;
}

#login-buttons-logout {
	font-weight: 300;
	float: left;
	color: #fff;
	font-size: 13px;
}

.login-button-text {
	margin-top: 10px;
}

/* submit eatery */

.submit-eatery {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
	width: 140px;
}

.submit-eatery a, .edit-eatsery a {
	color: #fff;
	font-weight: 300;
	font-size: 15px;
}

.edit-eatsery {
	color: #fff;
	margin-top: 30px;
	padding: 10px;
	width: 100px;
	background: #34A8C4;
	border-radius: 5px;
}

.edit-eatsery-button {
	margin-top: 20px;
}

/* bootstrap */

/*.uploadPanel .upload-control:last-child {
  border-radius: 0 5px 5px 0;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}

.uploadPanel .btn {
  display: table-cell;
  width: 1%;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.progressInner {
  height: 33px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
input[type="file"] {
  display: block;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
*/