@import url(http://fonts.googleapis.com/css?family=Roboto);

@font-face{
    font-family:"Guardian-EgypTT";
    src: url("https://www.etsy.com/assets/type/Guardian-EgypTT-Medium.woff") format("woff");
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

* a {
	text-decoration: none;
	color: #909090;
}

body {
	background: #F5F5F1;
}

.header {
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 1px 2px #d0d0d0;
	background-color: #f56400;
	height: 400px;
	width: 100%;
	display: table;
    -webkit-transition: height 1s;
    -moz-transition: height 1;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.header-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header h1 {
	font-weight: 100;
	font-size: 60px;
	color: #fff;
	font-family: "Guardian-EgypTT";
}

.header-search {
	margin-top: 30px;
}

.header-search-input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 5px #999;
	border: 1px solid #fff;
	font-size: 15px;
	width: 200px;
	padding: 10px;
	background: #fff;
}

.header-search-button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 0px 5px #999;
	font-size: 15px;
	margin-left: -8px;
	padding: 10px;
	background: #34A8C4;
	border: 1px solid #34A8C4;
	color: #fff;
}

.header-search:focus, .header-search-button:focus {
	outline: none;
	border: 1px solid #fff;
}

.smaller {
	top: 0px;
	position: fixed;
	height: 100px;
}

.smaller h1 {
	font-size: 30px !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    float: left;
    margin-left: 30px;
}

.smaller .header-search {
	margin: 5px 300px 0 0;
	float: right;
}

.content {
	padding: 30px;
}

.content-smaller {
	margin-top: 300px;
}

.cards-container {
	margin: 0 auto;
	width: 90%;
	display: block;
	text-align: center;
}

.card {
	border-radius: 5px;
	padding: 3px;
	background-size: cover;
	margin: 20px;
	display: inline-block;
	width: 400px;
	height: 250px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0px 1px 2px #ddd;
}

.card .image {
	width: 400px;
	height: 200px;
}

.image-card {
	width: 100%;
	height: 100%;
}

.card-details {
	padding: 5px 10px;
	text-align: left;
}

.card-back-link {
	float: left;
	position: absolute;
	font-size: 30px;
}

.card-title {
	margin-top: 5px;
	font-family: "Guardian-EgypTT";
	color: #34A8C4;
	font-size: 17px;
}

.card-distance {
	font-size: 12px;
}

.card-page {
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 21px;
	width: 1280px;
	background: #fff;
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 1px 2px #ddd;
}

.card-page h2 {
	color: #34A8C4;
}

.card-table {
	padding-top: 20px;
	text-align: left;
	margin: 0 auto;
	width: 300px;
}

.card-page-image {
	height: 300px;
	width: 400px;
	margin: 0 auto;
	background-size: cover;
	margin-bottom: 20px;
}

#login-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}

.google-logo {
	position: absolute;
	top: 10px;
	right: 160px;
	width: 30px;
	height: 30px;
}

/*// toggle button*/

.toggle-wrapper {
	float: left;
}

input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  float: left;
}

input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(52, 168, 196, 1);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle:checked + label:before {
  width: 50px;
  background: rgba(52, 168, 196, 1);
}

input#toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(52, 168, 196, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

/*second toggle options*/

.toggle-container {
	padding-top: 50px;
	margin: 0 auto;
	width: 645px;
	height: 30px;
	font-size: 13px;
	text-align: center;
}

.toggle-list {
	padding: 10px;
	width: 300px;
	float: left;
	background: #fff;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 3px #ddd;
	color: #34A8C4;
}

.toggle-map {
	color: #666;
	box-shadow: 0px 0px 3px #ddd;
	padding: 10px;
	width: 300px;
	float: left;
	background: #fff;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}