@font-face{
    font-family:"Guardian-EgypTT";
    src: url("https://www.etsy.com/assets/type/Guardian-EgypTT-Medium.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

* a {
	text-decoration: none;
	color: #909090;
}

body {
	background: #F5F5F1;
}

.header {
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 1px 2px #d0d0d0;
	background-color: #f56400;
	height: 400px;
	width: 100%;
	display: table;
    -webkit-transition: height 1s;
    -moz-transition: height 1;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.header-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header h1 {
	font-weight: 100;
	font-size: 60px;
	color: #fff;
	font-family: "Guardian-EgypTT";
}

.header-search {
	margin-top: 30px;
}

.header-search-input {
	padding: 8px;
	background: #fff;
	border: 1px solid #fff;
}

.header-search-button {
	margin-left: -8px;
	padding: 8px;
	background: #34A8C4;
	border: 1px solid #34A8C4;
	color: #fff;
}

.header-search:focus, .header-search-button:focus {
	outline: none;
	border: 1px solid #fff;
}

.smaller {
	top: 0px;
	position: fixed;
	height: 100px;
}

.smaller h1 {
	font-size: 30px !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    float: left;
    margin-left: 30px;
}

.smaller .header-search {
	margin: 5px 300px 0 0;
	float: right;
}

.content {
	padding: 30px;
}

.content-smaller {
	margin-top: 300px;
}

.cards-container {
	margin: 0 auto;
	width: 90%;
	display: block;
	text-align: center;
}

.card {
	background-size: cover;
	margin: 20px;
	display: inline-block;
	width: 400px;
	height: 250px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0px 1px 2px #ddd;
}

.card .image {
	width: 400px;
	height: 200px;
}

.image-card {
	width: 100%;
	height: 100%;
}

.card-details {
	padding: 5px 10px;
	text-align: left;
}

.card-back-link {
	float: left;
	position: absolute;
	font-size: 30px;
}

.card-title {
	color: #34A8C4;
}

.card-page {
	margin: 0 auto;
	margin-top: 21px;
	width: 1280px;
	background: #fff;
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 1px 2px #ddd;
}

.card-page h2 {
	color: #34A8C4;
}

.card-table {
	text-align: left;
	margin: 0 auto;
	width: 300px;
}

#login-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}

