#login-buttons
	position: absolute
	top: 10px
	right: 10px //todo look at


/* use current location */

.use-current-location 
	font-weight: 100
	font-size: 12px
	margin-top: 10px

.use-current-location a 
	color: #fff


/*login button*/

.button-container
	position: absolute
	top: 40px
	right: 20px
	height: 45px
	padding-right: 8px


/* submit eatery */

.link-button-style
	position: relative
	color: #fff
	border: 2px solid #fff
	border-radius: 5px
	margin: -2px 100px 0 -15px !important
	padding: 10px
	height: 42px


.submit-eatery a, .edit-eatsery a, .delete-eatsery a 
	color: #fff
	font-weight: 300
	font-size: 15px
