@media screen and (max-width: 700px) 

	.header 

		h1
			padding-top: 15px

	.content
		width: 100%
		padding: 10px
		margin: 0px

	.cards-container
		width: 100%
		margin: 0
		padding: 10px

	.card
		width: 100%
		padding: 0
		margin: 10px 0

	.card-page
		width: 100%
		margin-bottom: 20px
		padding: 0 0 20px 0

	.card-page-image
		width: 100%
		border-top-left-radius: 5px
		border-top-right-radius: 5px

	.header 

		h1
			font-size: 45px

	.submit-eatery
		margin-top: -10px

	.toggle
		display: none

	.header-search
		width: 100%

	.header-search-input
		width: 83% !important

	.uploadPanel
		width: 100%

	.smaller 

		.header-search.admin
			width: 100%
			background: #f56400
			display: block
			position: absolute
			top: 60px
			padding-bottom: 20px
			left: 0px