			.header {
				background-color: #f56400;
				height: 400px;
				width: 100%;
				display: table;
			    -webkit-transition: height 1s;
			    -moz-transition: height 1;
			    -ms-transition: height 1s;
			    -o-transition: height 1s;
			    transition: height 1s;
			}

			.header-content {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}

			.header h1 {
				font-size: 60px;
				color: #fff;
			}

			.header-search {
				margin-top: 30px;
			}

			.header-search-input {
				padding: 8px;
				background: #fff;
				border: 1px solid #fff;
			}

			.header-search-button {
				margin-left: -8px;
				padding: 8px;
				background: #34A8C4;
				border: 1px solid #34A8C4;
				color: #fff;
			}

			.header-search:focus, .header-search-button:focus {
				outline: none;
				border: 1px solid #fff;
			}

			.smaller {
				top: 0px;
				position: fixed;
				height: 100px;
			}

			.smaller h1 {
				font-size: 30px !important;
			    -webkit-transition: all 1s;
			    -moz-transition: all 1s;
			    -ms-transition: all 1s;
			    -o-transition: all 1s;
			    transition: all 1s;
			    float: left;
			    margin-left: 30px;
			}

			.smaller .header-search {
				margin: 8px 30px 0 0;
				float: right;
			}