.card-page
	.card-back-link
		a(href="{{pathFor 'listView'}}") 
			i.material-icons chevron_left
	.card-page-image
		img(src="http://lorempixel.com/400/220")
	
		h2 #{name}
		p #{distance} miles away

		table.card-table
			tr
				td Category
				td ---
			tr
				td Address
				td ---