.card-page
	h2 Add an Eatsery!
	form.main.form.page
		div(class="form-group")
			label.control-label(for="name")
			.controls
				input.form-control#name(name="name", type="text", value="", placeholder="Eatesery Name", required="true")
				input.btn.btn-primary#submit-eatery-button(type="submit", value="Next")
