.card-page
	form.main.form.page
		.card-page-image(style="background-image:url(#{imagePath})")
		div(class="form-group") 
		label.control-label(for="image") Update image
		+upload_bootstrap fileTypes='.jpg' multiple=false formData=eatseryData
		input.btn.btn-primary(type="submit", value="Save")
