.card-page
	h2 #{name}
	form.main.form.page
		.card-page-image(style="background-image:url(#{imagePath})")
		div(class="form-group") 
		label.control-label(for="image") Submit Photo URL!
		input#photoUrl(name="photoUrl", type="text", value="", placeholder="Eatesery Photo URL", required="true")
		input.btn.btn-primary.edit-eatsery-button(type="submit", value="Save")
