.card-page
	form.main.form.page
		div(class="form-group")
			label.control-label(for="name") Name
			.controls
				input.form-control#name(name="name", type="text", value="", placeholder="Eatesery Name")
				span.help-block 
		input.btn.btn-primary(type="submit", value="Next")
