.card-page
	h2 Submit Eatsery
	form.main.form.page
		div(class="form-group")
			label.control-label(for="name")
			.controls
				input.form-control#name(name="name", type="text", value="", placeholder="Eatesery Name", required="true")
				span.help-block 
		input.btn.btn-primary(type="submit", value="Next")
