.header#header
	.header-content
		a(href="{{pathFor 'listView'}}") 
			.header-logo
		a(href="{{pathFor 'listView'}}")
			h1 Where Should I Eatsy
		if isAdmin
			.header-search.admin
				+locationBar
		else 
			.header-search.user
				+locationBar
		.button-container
			+loginButtons(align="right")
			if isAdmin
				a.link-button-style(href="{{pathFor 'addEatsery'}}") Submit Eatsery