.header#header
	.header-content
		a(href="{{pathFor 'listView'}}")
			h1 Where Should I Eatsy
		.header-search
			input.header-search-input(placeholder="Currect Location")
			button.header-search-button Search
		+loginButtons
		if(currentUser)
			a(href="{{pathFor 'submitEatsery'}}") Submit Eatsery
