.header#header
	.header-content
		a(href="{{pathFor 'listView'}}") 
			.header-logo
		a(href="{{pathFor 'listView'}}")
			h1 Where Should I Eatsy
		if currentUser
			.header-search.admin
				+locationBar
		else 
			.header-search.user
				+locationBar
		.button-container
			+loginButtons
			if(currentUser)
				a.link-button-style(href="{{pathFor 'submitEatsery'}}") Submit Eatsery